@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";
@import "bootstrap-icons/font/bootstrap-icons.css";
@import 'remixicon/fonts/remixicon.css';

:root {
    --prim: #F55333;
    --text: #1C1C1D;
    --body: #F6F6F6;
    --white: #FFFFFF;
    --black: #000000;

    --Inter: "Inter", sans-serif;

}

body {
    background-color: var(--body);
}

.Inter {
    font-family: var(--Inter);
}