
@import "tailwindcss";
@import "bootstrap-icons/font/bootstrap-icons.css";
@import 'remixicon/fonts/remixicon.css';

:root {
    --prim: #075056;
    --prim-light: #B0DAE1;
    --sec: #F55333;
    --text: #1C1C1D;
    --body: #D3DDDE;
    --dark: #243037;
    --white: #FFFFFF;
    --black: #000000;

    --light-gray: #AFAAAA;
    --gray: #5F5F5F;
    
    --Inter: "Inter", sans-serif;
    --Playfair: "Playfair Display", serif;

}

body {
    background-color: var(--body);
    font-family: var(--Inter);
}

.inter {
    font-family: var(--Inter);
}

.playfair {
    font-family: var(--Playfair);
}

h1, h2, h3 {
    font-family: var(--Inter);
    color: var(--prim);
}

h4, p, button {
    font-family: var(--Inter);
}

input, textarea {
    font-family: var(--Inter);
    border: 1px solid var(--light-gray);
    background-color: var(--body);
    padding: 0.5rem;
    border-radius: 0.25rem;
    color: var(--gray);
    font-size: 0.875rem;
    margin-top: 0.5rem;
    width: 100%;
}

input:focus, textarea:focus {
    outline: none;
    border-color: var(--prim);
    box-shadow: 0 0 0 1px var(--prim);
}

::placeholder {
    color: var(--gray);
    font-family: var(--Inter);
}

button:disabled {
    background-color: var(--prim);
    cursor: not-allowed;
    opacity: 0.4;
}
